{% if content %}
	<div{{attributes}}>
	<div {% if settings.config_section %} class="{{ settings.config_section.type_container }} {{ settings.config_section.container_class }}" {% else %} class="container" {% endif %}>
		<div class="row">
			<div class="{{settings.class_col}}">
				<header class="header-blog">
					<div {{ region_attributes.title.addClass(['title']) }}>
						<h1>
							{{ content.title }}
						</h1>
					</div>
					<div {{ region_attributes.description.addClass(['description']) }}>
						{{ content.description|layout_value }}
					</div>
				</header>
			</div>
		</div>
		</div>
	</div>
{% endif %}
