{% if content %}
<footer {{ attributes.addClass('formatage-models-footer-gp') }}>
	<div class="footer-top">
		<div {% if settings.config_section %} class="{{ settings.config_section.type_container }} {{ settings.config_section.container_class }}" {% else %} class="container" {% endif %}>
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-info">
						{% if content.logo  %}
    						<div {{ region_attributes.logo.addClass('logo') }}>
    							{{ content.logo }}
    						</div>
						{% endif %}
						{% if content.compagny_info %}
							<div {{ region_attributes.compagny_info.addClass('compagny_info') }}>
    							{{ content.compagny_info }}
    						</div>
						{% endif %}
						{% if content.social_links %}
    						<div {{ region_attributes.social_links.addClass('social-links') }}>
    							{{ content.social_links }}
    						</div>
						{% endif %}
					</div>
				</div>
				<div class="col-lg-3 col-md-6 footer-links">
					{% if content.link_1 %}
						<h4 {{ region_attributes.link_1.addClass('link_1','link-titre') }}> {{ content.link_1 }} </h4>
					{% endif %}
					{% if content.links_1 %}
						<div {{ region_attributes.links_1.addClass('links_1','links') }}> {{ content.links_1 }} </div>
					{% endif %}
				</div>
				<div class="col-lg-3 col-md-6 footer-links">
					{% if content.link_2 %}
						<h4 {{ region_attributes.link_2.addClass('link_2','link-titre') }}> {{ content.link_2 }} </h4>
					{% endif %}
					{% if content.links_2 %}
						<div {{ region_attributes.links_2.addClass('links_2','links') }}> {{ content.links_2 }} </div>
					{% endif %}
				</div>
				<div class="col-lg-3 col-md-6 footer-newsletter">
					{% if content.link_3 %}
						<h4 {{ region_attributes.link_3.addClass('link_3','link-titre') }}> {{ content.link_3 }} </h4>
					{% endif %}
					{% if content.newletter_text %}
							<div {{ region_attributes.newletter_text.addClass('newletter_text') }}>
    							{{ content.newletter_text }}
    						</div>
					{% endif %}
					{% if content.newletter_form %}
							<div {{ region_attributes.newletter_form.addClass('newletter_form') }}>
    							{{ content.newletter_form }}
    						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div {% if settings.config_section %} class="{{ settings.config_section.type_container }} {{ settings.config_section.container_class }}" {% else %} class="container" {% endif %}>
		{% if content.copyright %}
    		<div {{ region_attributes.copyright.addClass('copyright') }}>
    			{{ content.copyright }}
    		</div>
    	{% endif %}
    	{% if content.credits %}
    		<div {{ region_attributes.credits.addClass('credits') }}>
    			{{ content.credits }}
    		</div>
    	{% endif %}
	</div>
</footer>
{% endif %}