{% if content %}
	<div{{attributes.addClass('ourAchievments-module')}}>
		{# url #}
		{% if content.url.layout_builder_add_block  %}
			{{ content.url }}
		{% endif %}
		{% if content.url %}
			{% set RenderUrl %}{{ render_var(content.url)}}{% endset %}
			{% if RenderUrl %}
				{% set RenderUrl %}{{- path('entity.node.canonical', {'node': RenderUrl|striptags|trim|replace({'\"': ''})}) -}}{% endset %}

			{% endif %}
		{% endif %}
		{% if RenderUrl %}
			<a href="{{- RenderUrl -}}">
			{% endif %}
			{# on ajoute un template #}
			{% if content.bgimage.layout_builder_add_block  %}
				{{ content.bgimage }}
			{% endif %}
			{% set RenderBgimage = {
          '#theme':'formatage_models__img_url',
          '#content_all': content.bgimage,
          '#tag_fields': '',
          '#tag_field': '',
          '#tag_field_attibutes':{}
        }
              %}
			{% set RenderBgimagHtml %}{{ render_var(RenderBgimage) }}{% endset %}
			<div class="ourAchievments-module__image" {{content.bgimage | layout_bg_img}}>
				<div class="ourAchievments-module__container">
					<div class="showProject">
						{% if settings.text_url != '' %}
							<div>{{ settings.text_url }}</div>
						{% endif %}
					</div>
					{% if content.listes %}
						<ul{{region_attributes.listes.addClass('listes')}}>
							{% if content.listes.layout_builder_add_block %}
								{{content.listes|layout_value}}
							{% else %}
								{% for block in content.listes %}
									{% if (block['#theme'] or block['#items']) %}
										<button class="btn-radius">
											{{block}}
										</button>
									{% endif %}
								{% endfor %}
							{% endif %}
						</ul>
					{% endif %}
					{% if content.description %}
						<div {{region_attributes.description.addClass('description')}}>
							{{content.description}}
						</div>
					{% endif %}
				</div>
			</div>
			<h2 class="ourAchievments-module__title">
				{{ content.titre|layout_value }}
			</h2>
			{% if RenderUrl %}
			</a>
		{% endif %}
	</div>
{% endif %}
